<nav>
    <div class="menu">
      <div class="logo">
        <a href="/pages/index.ejs">LOUEvain-Li-Nux</a>
      </div>
      <a class="link" href="/pages/admin_stock.ejs">Gestion de stock</a>
      <a class="link" href="/pages/admin_order.ejs">Gestion de commande</a>
      <a class="link" href="/pages/admin_order_log.ejs">Historique des commandes</a>
      <img src="/img/moon.png" id="icon" onclick="dark_mode()">
    </div>
</nav>
