<nav>
    <div class="menu">
      <div class="logo">
        <a href="/"><img class="icon" src="img/llln.png">  LOUEvain-Li-Nux</a>
      </div>
      <a class="link" href="/stock">Stock</a>
      <a class="link" href="/order_history">Historique des commandes</a>
      <a href="/admin_signup"><img class="i" src="/img/admin.png"></a>
      <button onclick="t()" >t</button>
      <a><img src="/img/moon.png" class="i" id="icon" onclick="dark_mode()"></a>
    </div>
</nav>
