<nav>
    <div class="menu">
      <div class="logo">
        <a href="/">LOUEvain-Li-Nux</a>
      </div>
      <a class="link" href="/stock">Stock</a>
      <a class="link" href="/check_order">Gestion de commande</a>
      <a class="link" href="/order_history">Historique des commandes</a>
      <a class="link" href="/admin_signup">Créer un compte</a>
      <img src="/img/moon.png" id="icon" onclick="dark_mode()">
    </div>
</nav>
