<nav>
    <div class="menu">
        <div class="logo">
            <a href="/"><img class="icon" src="img/llln.png">  LOUEvain-Li-Nux</a>
        </div>
        <button onclick="t()" >t</button>
        <img src="/img/moon.png" id="icon" onclick="dark_mode()">
    </div>
</nav>