<nav>
    <div class="menu">
        <div class="logo">
            <a href="/"><img class="icon" src="img/logo_lln.png">  LOUEvain-Li-Nux</a>
        </div>
        <img src="/img/eng.png" id="trans" onclick="translate()">
        <img src="/img/moon.png" id="icon" onclick="dark_mode()">
    </div>
</nav>