<nav>
    <div class="menu">
        <div class="logo">
            <a href="/"><img class="icon" src="img/llln.png">  LOUEvain-Li-Nux</a>
        </div>
        <a class="link" href="/category">Boutique</a>
        <button onclick="t()">t</button>
        <a class="link" href="/cart">🛒</a>
        <img src="/img/moon.png" id="icon" onclick="dark_mode()">
    </div>
</nav>
