<nav>
    <div class="menu">
        <div class="logo">
            <a href="/"><img class="icon" src="img/llln.png">  LOUEvain-Li-Nux</a>
        </div>
        <!--<div onclick="translate()" class="log" id="languageSwitcher">t</div>
        <select id="targetLanguage">
            <option value="Eng">Eng</option>
            <option value="Fr">Fr</option>
        </select>-->
        <a class="link" href="/category">boutique</a>
        <a class="link" href="/cart">🛒</a>
        <!--<div id="google_translate_element"></div>-->
        <img src="/img/moon.png" id="icon" onclick="dark_mode()">
    </div>
</nav>
