<nav>
    <div class="menu">
        <div class="logo">
            <a href="/">LOUEvain-Li-Nux</a>
        </div>
        <a class="link" href="#">Boutique</a>
        <a class="link" href="#">🛒</a>
        <img src="/img/moon.png" id="icon" onclick="dark_mode()">
    </div>
</nav>
