@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 90;
    font-family: 'Poppins', sans-serif;
}

:root {
    --backg: url(../img/background.jpg);
    --primary-color: #e4e4e4bb;
    --secondary-color: rgb(47, 64, 109);
    --third-color: rgba(189, 197, 218, 0.884);
    --fourth-color: rgb(65, 49, 97);
    --fifth-color: rgb(52, 47, 65);
    --sixth-color: rgba(255, 255, 255, 0.747);
    --seventh-color: rgba(96, 111, 155, 0.74);
    --eight-color: rgb(87, 97, 131);
    --tenth-color: rgb(52, 47, 65);
}

.dark-theme {
    --backg: url(../img/background2.jpg);
    --primary-color: #1b1b1b;
    --secondary-color: rgb(112, 128, 173);
    --third-color: rgba(96, 111, 155, 0.74);
    --fourth-color: rgba(196, 193, 193, 0.89);
    --fifth-color: rgb(29, 27, 34);
    --sixth-color: #4241418e;
    --seventh-color: rgba(139, 151, 189, 0.74);
    --eight-color: rgb(178, 182, 194);
    --tenth-color: #1b1b1bbe;
}

body {
    background-image: var(--backg);
    background-color: rgba(37, 48, 75, 0.5);
    background-blend-mode: overlay;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}

.main{
	width: 40%;
	height: auto;
	overflow: hidden;
    background: var(--third-color);
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    margin: auto;
}

nav {
    position: fixed;
    background: var(--primary-color);
    width: 100%;
    padding: 10px 0;
    z-index: 12;
}

#icon {
    width: 30px;
    cursor: pointer;
}

nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 40px;
    font-weight: 600;
}

h1 {
    color: var(--fourth-color);
    margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
}

h2 {
    color: var(--fifth-color);
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 1em;
}

h6 {
    color: var(--fifth-color);
    margin-top: 5em;
    margin-right: 1em;
    margin-left: 1em;
}

.search_bar {
    width: 350px;
    text-align: center;
    transition-duration: 0.5s;
    background-color: var(--sixth-color);
    margin-top: 5em;
    margin-bottom: 3em;
}

.search_bar:hover {
    background-color: rgb(192, 196, 229);
}

.look_up {
    text-align: center;
    transition-duration: 0.5s;
    background-color: var(--sixth-color);
}

.look_up:hover {
    background-color: rgb(192, 196, 229);
}

table {
    width: 85%;
    margin: auto;
    margin-top: 5%;
    border-collapse: separate;
    border: var(--eight-color);
    border-radius: 8px;
    background-color: var(--third-color);
}

td, th {

    border-left: solid var(--eight-color);
    border-top: solid var(--eight-color);

}

thead tr {
    color: rgba(255, 255, 255, 0.774);
    background-color: var(--tenth-color);
    border-top: none;

}

th {
  color: rgba(255, 255, 255, 0.774);
  background-color: var(--tenth-color);
  border-top: none;
  
}

td:first-child, th:first-child {
    border-left: none;

}

.link:link {
    color: var(--secondary-color);
    background-color: transparent;
    text-decoration: none;
}

.link:hover {
    color: rgb(117, 84, 84);
    background-color: transparent;
    text-decoration: underline;
}

.link:active {
    color: rgba(0, 102, 255, 0.281);
    background-color: transparent;
    text-decoration: underline;
}

.link:visited {
    color: var(--secondary-color);
    background-color: transparent;
    text-decoration: none;
}

.but {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 170px;
    height: 70px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    background-color: #121a61;
    cursor: pointer;
    box-shadow: 5px 5px 0 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    text-decoration: none;
    color: #000;
    z-index: 1000;
    align-items: center;
}

.title_label {
    color: var(--fourth-color);
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 30px;
    font-weight: bold;
    transition: .5s ease-in-out;
}

.in {
    width: 60%;
    /*height: 20px;*/
    background: var(--sixth-color);
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.log {
    width: 60%;
    height: 40px auto;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: rgba(255, 255, 255, 0.671);
    background: var(--seventh-color);
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
    margin-bottom: 3em;
}

button.log a.link{
    color : rgba(255, 255, 255, 0.671);
}

.log:hover {
    background: var(--eight-color);
}

.grid {
    height: 75%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    /*margin-top: 75%;*/
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

.disp {
    height: 75%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-top: 1%;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

.box {
    background: var(--third-color);
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 70px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    text-align: center;
}

.box img {
    width: 100%;
    height: 100%;
    margin: 20px 0 20px 0;
}

p {
    margin-bottom: 10px;
}