<!--login-admin page-->
<!--to do:renvoie vers log commande par defaut, menu nav barre avec toutes les autres pages admin + centrer-->
<!--change nav_bar, current for easy access-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>

<body>
<%- include('../partials/admin_navbar') %>

<div class="center">
    <div class="main">
        <div class="signup">
            <form method="post" action="/connect_admin">
                <label class="title_label">Se connecter</label>
                <input class="in" type="text" name="email" placeholder="Adresse mail" required>
                <input class="in" type="password" name="password" placeholder="Mot de passe" required>
                <button class="log">Se connecter</button>
                <!--<a href='admin_order_log.ejs' class="log">Se connecter</a>-->
            </form>
        </div>
    </div>
</div>
</body>

</html>   