<!--log commandes page-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>

<body>
<%- include('../partials/admin_navbar') %>


<div class="backg"></div>

<div class="center">
    <div class="title">Historique des commandes:</div>
    <!-- Liste des commandes-->
    <table class=tableau>
        <thead>
        <tr>
            <th>Numéro de commande</th>
            <th>Nom complet du client</th>
            <th>Adresse e-mail du client</th>
            <th>Date sortie</th>
            <th>Date retour</th>
            <th>Date vraie sortie</th>
            <th>Date vrai retour</th>
            <th>Commentaire Admin</th>
        </tr>
        </thead>
        <!--db à rechecker, commentaire char max needs to be fixed-->
    </table>
</div>

<script src="/js/dark_mode.js"></script>

</body>
</html>   











