<!--stock - admin page-->
<!--increm-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>
<head>
    <script type="text/javascript" src="js/retrieve_stock.js"></script>
</head>

<body>
<%- include('../partials/admin_navbar') %>

<div class="backg"></div>

<div class="center">
    <div class="title">Contenu de l'inventaire:</div>
    <!-- Liste des produit disponibles en stock-->
    <table class="tableau" id="stock_table">
        <thead>
        <!--
        <tr>
            <th>Modèle du produit</th>
            <th>Brève description du produit</th>
            <th>Disponible</th>
            <th>Nombre en stock</th>
        </tr>
        -->
        </thead>
        <!--fetch from database (exemple juste pour pouvoir visualiser)-->
        <tbody>
        <!--
        <tr>
            <td>De la connectique audio</td>
            <td>Câble adaptateur audio InLine® 3,5 mm Stéréo femelle à femelle, dont la bande de roulement est 0,2 m
            </td>
            <td>✓</td>
            <td>7</td>
            <td>
                <button>🗑️</button>
            </td>
        </tr>
        -->
        </tbody>

    </table>
    <button class="log">Enregistrer les modifications</button>
</div>

<script>
    const table_head_elements = ["Catégorie", "Modèle", "Description", "Quantité"];
    const table_content_id = ["productCategoryId", "id", "description", "quantity"];
    get_and_insert_table("/get_stock", "stock_table", table_head_elements, table_content_id);
</script>
<script src="/js/dark_mode.js"></script>
<script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>   