<!--stock - admin page-->
<!--increm-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>

<body>
<%- include('../partials/admin_navbar') %>
  
  <div class="backg"></div>

  <div class="center">
    <div class="title">Votre panier contient les éléments ci-dessous:</div>
        <!-- Liste des produit disponibles en stock-->
        <table class = tableau >
            <tr>
                <th>Catégorie du produit</th>
                <th>Brève description du produit</th>
                <th>Disponible</th>
                <th>Nombre en stock</th>

            </tr>
            <!--fetch from database (exemple juste pour pouvoir visualiser)-->
            <tr>
              <td>De la connectique audio</td>
              <td>Câble adaptateur audio InLine® 3,5 mm Stéréo femelle à femelle, dont la bande de roulement est 0,2 m</td>
              <td>✓</td>
              <td>7</td>
              <td><button>🗑️</button></td>
            </tr>

        </table>
        <button class="log">Enregistrer les modifications</button>
</div>

<script src="/js/dark_mode.js"></script>

</body>
</html>   