<!--login-admin page-->
<!--to do:renvoie vers log commande par defaut, menu nav barre avec toutes les autres pages admin + centrer-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>

<body>
<%- include('../partials/navbar') %>

<div class="backg"></div>

<div class="center">
    <div class="main">

        <div class="signup">
            <form>
                <label>Se connecter</label>
                <input class="in" type="text" name="e-mail" placeholder="Adresse mail" required>
                <input class="in" type="password" name="pwd" placeholder="Mot de passe" required>
                <button class="log">Se connecter</button>
                <!--<a href='admin_order_log.ejs' class="log">Se connecter</a>-->
            </form>
        </div>
    </div>
</div>
</div>
</body>


<!--meant to be on a seperate js file, my mac refuses access to the file-->
<script>
    // This function allows us to switch from light to dark mode
    function dark_mode() {
        var icon = document.getElementById("icon");
        document.body.classList.toggle("dark-theme");
        if (document.body.classList.contains("dark-theme")) {
            icon.src = "images/sun.png";
        } else {
            icon.src = "images/moon.png";
        }
    }
</script>

</html>   