<!--log commandes page-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>
<head>
    <link rel="stylesheet" href="/css/table.css">
    <script type="text/javascript" src="js/table_utils.js"></script>
</head>

<body>
<%- include('../partials/admin_navbar') %>

<form id='order_search'>
    <input type="search" name="orderno">
</form>

<div class="center">
    <div class="title">Historique des commandes:</div>
    <!-- Liste des commandes-->
    <table id="order_table">
        <thead></thead>
        <tbody></tbody>
    </table>
    <!--<table >
        
        <thead>
        <tr>
            <th id="order_num">Numéro de commande</th>
            <th id="client_name">Nom complet du client</th>
            <th id="client_email">Adresse e-mail du client</th>
            <th id="S_date">Date sortie</th>
            <th id="R_date">Date retour</th>
            <th id="V_S_date">Date vraie sortie</th>
            <th id="V_R_date">Date vrai retour</th>
            <th id="admin_com">Commentaire Admin</th>
        </tr>
        </thead>-->
        <!--db à rechecker, commentaire char max needs to be fixed-->
    </table>

</div>

<script type="text/javascript" src="js/table_utils.js"></script>

<script>
    const table_head_elements = ["Numéro de commande", "Nom complet", "Email", "quantité", "Modèle", "Date sortie", "Date retour", "Date client pickup", "Date client dropoff", "Recu"];
    const table_content_id = ["id", "name", "email", "quantity", "productModelId", "start_date", "end_date", "date_client_pickup", "date_client_return", "receiptNCommande"];
    get_and_insert_table("/get_all_orders?", "order_table", table_head_elements, table_content_id, <%= receiptno %>);
</script>

</body>
</html>   











