<!--boutique page-->
<!--this page contains all the cats-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>

<body>
<%- include('../partials/user_navbar') %>


<div class="backg"></div>
<div class="center">
    <div class="disp">
        <% for(element in categories) { %>
            <div class="box">
                <a class="link" href="/product?<%= categories[element]["id"] %>"><button class="log"><%= categories[element]["id"] %></button></a>
            </div>
        <% } %>
    </div>
</div>
</body>

</html>   
