<!--boutique page-->
<!--this page contains all the cats-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>

<body>
<%- include('../partials/user_navbar') %>

<div class="center">
    <div class="disp">
        <% for(var element in categories) { %>
            <div class="box">
                <a class="link" href="/product?category=<%= encodeURIComponent(categories[element]["id"]) %>"><button class="log"><%= categories[element]["id"] %></button></a>
            </div>
        <% } %>
    </div>
</div>
</body>

</html>