<!--boutique page-->
<!--this page contains all the cats-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>

<body>
<%- include('../partials/user_navbar') %>


<div class="backg"></div>

<div class="center">
    <div class="main">
        <button class="log">Des Micros de divers types + des filtres</button>
        <button class="log">De la connectique audio</button>
        <button class="log">Un lecteur de disque externe</button>
        <button class="log">Des claviers USB pour ordinateurs</button>
        <button class="log">Des écrans d'ordinateurs</button>
        <button class="log">Connectiques réseaux (ethernet) : des switchs, des câbles et un routeur</button>
        <button class="log">Un Module SMS</button>
        <button class="log">Des PC portables et des tours</button>
        <button class="log">Divers connectiques et adaptateurs de connection pour pc</button>

    </div>
</div>
</body>

<script src="/js/dark_mode.js"></script>

</html>   
