<!--acceuil stock page-->
<!--fix buttons-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>
<body>
<%- include('../partials/admin_navbar.ejs') %>

<div class="center">
    <div class="main">
        <div class="signup">
            <form>
                <label class="title_label">Veuillez selectionner la page que vous souhaitez accéder:</label>
                <button class="log" ><a class="link" href='/add_to_stock'>Rajouter un élément au stock</a></button>
                <button class="log" ><a class="link" href='/visualise_stock'>Visualiser les produits en stock</a></button>
            </form>
        </div>
    </div>
</div>
</body>

</html>  