<!--acceuil general page-->
<!--fix buttons-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>
<body>
<%- include('../partials/index_navbar.ejs') %>

<div class="center">
    <div class="main">
        <div class="signup">
            <label class="title_label">Veuillez selectionner la section du site que vous souhaitez accéder:</label>
            <a class="link" href="/category">
                <button class="log">User</button>
            </a>
            <a class="link" href='/login'>
                <button class="log">Admin</button>
            </a>
        </div>
    </div>
</div>
</body>

</html>   