<!--acceuil general page-->
<!--fix buttons-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>
<body>
<%- include('../partials/index_navbar.ejs') %>

<div class="center">
    <div class="main">
        <div class="signup">
            <form>
                <label class="title_label">Veuillez selectionner la section du site que vous souhaitez accéder:</label>
                <button class="log"><a class="link" href="/category">User</a></button>
                <button class="log"><a class="link" href='/login'>Admin</a></button>
            </form>
        </div>
    </div>
</div>
</body>

</html>   