<!--acceuil general page-->
<!--fix buttons-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>
<body>
<%- include('../partials/index_navbar.ejs') %>

<div class="backg"></div>

<div class="center">
    <div class="main">
        <div class="signup">
            <form>
                <label>Veuillez selectionner la section du site que vous souhaitez accéder:</label>
                <a href='/category' class="log">User</a>
                <a href='/login' class="log">Admin</a>
                <!--Ref à modifier vers la page d'acceuil user quand créée-->
            </form>
        </div>
    </div>
</div>
</body>

</html>   