<!--Main page-->

<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>
<script type="text/javascript" src="/js/admin_access.js"></script>
<body>
<%- include('../partials/index_navbar.ejs') %>


<img class="index_img"src="/img/logo_lln.png" alt="">
<div >
    <a id="user_but" class="link" href="/category">
        <button id="shop" class="index_buttons">Boutique</button>
    </a>
    
</div>
</body>

<script>
    $('#content').animate({'margin-top': '50px'}, 1000);
</script>

</html>
