<!--acceuil stock page-->
<!--fix buttons-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>
<body>
<%- include('../partials/admin_navbar.ejs') %>

<div class="center">
    <div class="main">
        <label class="title_label">Veuillez selectionner la page que vous souhaitez accéder:</label>
        <a class="link" href='/add_to_stock'><button class="but" >Rajouter un élément au stock</button></a>
        <a class="link" href='/visualise_stock'><button class="but" >Visualiser les produits en stock</button></a>
    </div>
</div>
</body>

</html>  