<!--commande-user page-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>

<body>
<%- include('../partials/navbar') %>


<div class="backg"></div>

<div class="center">
    <div class="main">
        <h1>Veuillez présenter le code de commande ci-dessous au Kot-à-Projet Louvain-li-Nux afin de récupérer votre
            commande:</h1>
        <h2><u>X8J625bn954</u></h2>
        <h6>Ce même code vous a été envoyé par mail à l'adresse renseignée précédemment</h4>
    </div>
</div>
</div>

</body>


<!--meant to be on a seperate js file, my mac refuses access to the file-->
<script>
    // This function allows us to switch from light to dark mode
    function dark_mode() {
        var icon = document.getElementById("icon");
        document.body.classList.toggle("dark-theme");
        if (document.body.classList.contains("dark-theme")) {
            icon.src = "images/sun.png";
        } else {
            icon.src = "images/moon.png";
        }
    }
</script>


</html>   