<!--commande-user page-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>

<body>
<%- include('../partials/user_navbar') %>

<div class="center">
    <div class="main">
        <h1>Veuillez présenter le code de commande ci-dessous au Kot-à-Projet Louvain-li-Nux afin de récupérer votre
            commande:</h1>
        <h2><u>X8J625bn954</u></h2>
        <h6>Ce même code vous a été envoyé par mail à l'adresse renseignée précédemment</h4>
    </div>
</div>

</body>

</html>   