<!--stock-admin page-->
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/stock.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

   </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="page%20acceuil%20general.htmlhtml">LOUEvain-Li-Nux</a>
      </div>
      <a class="link" href="page%20gestion%20de%20commande%20-%20Admin.htmlAdmin.html">Gestion de commande</a>
      <a class="link" href="page%20log%20commandes%20-%20Admin.htmlmin.html">Historique des commandes</a>
      <img src="../../Design/images/moon.png" id="icon" onclick="dark_mode()">
  </nav>
  
  <div class="backg"></div>

  <div class="center">
    <div class="main">

        <div class="signup">
          <form>
            <label>Rajouter un élément au stock</label>
            <input class="in" type="text" list="categories" name="cat" placeholder="Catégorie" required>
            <input class="in" type="text" name="Mod" placeholder="Modèle" required>
            <input class="in" type="date" name="Per" placeholder="Période" required>
            <input class="in" type="number" name="Qt" placeholder="Quantité" required>
            <datalist id="categories">
              <option>Des Micros de divers types + des filtres</option>
              <option>De la connectique audio</option>
              <option>Un lecteur de disque externe</option>
              <option>Des claviers USB pour ordinateurs</option>
              <option>Des écrans d'ordinateurs</option>
              <option>Connectiques réseaux (ethernet) : des switchs, des câbles et un routeur</option>
              <option>Un Module SMS</option>
              <option>Des PC portables et des tours</option>
              <option>Divers connectiques et adaptateurs de connection pour pc</option>
            </datalist>
            <button class="log">Rajouter au stock</button>
          </form>
        </div>
    </div>
  </div>
</div>
</body>


<!--meant to be on a seperate js file, my mac refuses access to the file-->
<script>
  // This function allows us to switch from light to dark mode
  function dark_mode(){
      var icon = document.getElementById("icon");
      document.body.classList.toggle("dark-theme");
      if(document.body.classList.contains("dark-theme")){
          icon.src = "images/sun.png";
      }else{
          icon.src = "images/moon.png";
      }
  }
</script>

</html>   