<!--stock-display page-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>

<body>
<%- include('../partials/user_navbar') %>

<div class="backg"></div>

<div class="center">
    <div class="title">Voici les produits disponibles dans la categorie "Des claviers USB pour ordinateurs":</div>
        <div class="grid">
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>
                
            </div>
            <div class="box">
                <h2>Microsoft Clavier sans fil AZERTY</h2>
                <div class="img">
                    <img src="img/clavier.png" alt="">
                </div>
                <p>caution: 3€</p>
                <button class="log">Ajouter</button>

            </div>
        </div>
</div>
</body>

</html>   