<!--stock-admin page-->
<!--the user gets sent to this page when he confirms his order in the "panier - user page"-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/stock.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

</head>
<body>
<nav>
    <div class="menu">
        <div class="logo">
            <a href="page%20acceuil%20general.htmlhtml">LOUEvain-Li-Nux</a>
        </div>
        <img src="../../public/img/moon.png" id="icon" onclick="dark_mode()">
</nav>

<div class="backg"></div>

<div class="center">
    <div class="main">
        <div class="signup">
            <form>
                <label>Veuillez remplir les champs ci-dessous:</label>
                <input class="in" type="text" name="name" placeholder="Nom complet" required>
                <input class="in" type="text" name="e-mail" placeholder="Adresse mail" required>
                <input class="in" type="text" name="num" placeholder="GSM sous la forme +32" required>
                <input class="in" type="text" name="adr" placeholder="Adresse complete" required>
                <button class="log">Confirmer</button>
            </form>
        </div>
    </div>
</div>
</div>
</body>


<!--meant to be on a seperate js file, my mac refuses access to the file-->
<script>
    // This function allows us to switch from light to dark mode
    function dark_mode() {
        var icon = document.getElementById("icon");
        document.body.classList.toggle("dark-theme");
        if (document.body.classList.contains("dark-theme")) {
            icon.src = "images/sun.png";
        } else {
            icon.src = "images/moon.png";
        }
    }
</script>

</html>   
