<!--stock-admin page-->
<!--the user gets sent to this page when he confirms his order in the "panier - user page"-->
<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>

<body>
<%- include('../partials/user_navbar') %>

<div class="backg"></div>

<div class="center">
    <div class="main">
        <div class="signup">
            <form>
                <label>Veuillez remplir les champs ci-dessous:</label>
                <input class="in" type="text" name="name" placeholder="Nom complet" required>
                <input class="in" type="text" name="e-mail" placeholder="Adresse mail" required>
                <input class="in" type="text" name="num" placeholder="GSM sous la forme +32" required>
                <input class="in" type="text" name="adr" placeholder="Adresse complete" required>
                <button class="log">Confirmer</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>   
